<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="true">

    <description>缓存配置</description>

    <!-- Redis缓存配置 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最小空闲连接数,默认0-->
        <property name="minIdle" value="${redis.pool.minIdle}"/>
        <!--最大空闲连接数,默认8个-->
        <property name="maxIdle" value="${redis.pool.maxIdle}"/>
        <!--最大连接数,默认8个-->
        <property name="maxTotal" value="${redis.pool.maxTotal}"/>
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        <!--获取连接时检查有效性,默认false-->
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <!--在空闲时检查有效性,默认false-->
        <property name="testWhileIdle" value="true"/>
    </bean>

    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <list>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg name="host" value="${redis.pool.host}"/>
                    <constructor-arg name="port" value="${redis.pool.port}"/>
                    <constructor-arg name="timeout" value="${redis.pool.timeout}"/>
                    <property name="password" value="${redis.pool.password}"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>
    <bean id="redisService" class="com.hiveview.base.cache.RedisService">
        <property name="shardedJedisPool" ref="shardedJedisPool" />
    </bean>
</beans>
